@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400|Poppins:300,400,800&display=swap");

html,
body {
	margin: 0;
	padding: 0;
	font-family: "Inter", sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #333;
	background-color: #222222;
	overflow-x: hidden;
	// overflow-y: scroll;

	// background-image: url("/images/background-visiwig-four.svg");
	background-repeat: repeat-y;
	background-position: center;
	background-size: cover;
}

.section {
	/* cursor: pointer; */
	// position: absolute;
	display: block;
	width: 100%;
	min-height: 100%;
}

/* Style the scrollbar */
::-webkit-scrollbar {
	width: 0rem;
}

// media query for mobile
@media (max-width: 768px) {
	::-webkit-scrollbar {
		width: 1rem;
	}
}

.hide-small-screen {
	@media (max-width: 768px) {
		display: none !important;
	}
}

.text-primary {
	color: #2fed7b;
}

.border-primary {
	border: 1px solid #2fed7b !important;
}

.bg-primary {
	background-color: #2fed7b !important;
}

.bg-glass {
	/* From https://css.glass */
	background: rgba(35, 35, 35, 0.2);
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(35, 35, 35, 0.3);
}
